/* Clear default settings */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: sans-serif;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
}
.header {
  background: #282828;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px #000;
          box-shadow: 0px 0px 10px #000;
  position: fixed;
  z-index: 2;
}
.header__burger {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
}
.header__burger:hover {
  background: #373535;
  cursor: pointer;
}
.header__burger span {
  display: block;
  width: 26px;
  height: 4px;
  background: #ff6900;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -13px;
}
.header__burger span::before {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 26px;
  height: 4px;
  background: #ff6900;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -13px;
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}
.header__burger span::after {
  content: '';
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 26px;
  height: 4px;
  background: #ff6900;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -13px;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}
.header__burger-active span::before {
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 13px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.header__burger-active span::after {
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 13px;
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.menu {
  position: fixed;
  width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 50px;
  bottom: 0;
  left: 0;
  background-color: #282828;
  -webkit-box-shadow: 0px 0px 10px #282828;
          box-shadow: 0px 0px 10px #282828;
  color: #f0f0f0;
  z-index: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  padding: 25px 0;
}
.menu::-webkit-scrollbar-track {
  background-color: #373535;
}
.menu::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #fff;
}
.menu::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
.menu::-webkit-scrollbar {
  width: 4px;
}
.menu .category {
  padding: 0 25px;
  background: transparent;
  -webkit-transition: background .5s;
  transition: background .5s;
}
.menu .category__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  cursor: pointer;
}
.menu .category__title span {
  font-size: 30px;
  font-weight: 500;
}
.menu .category__title span.category__arrow {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.menu .category__title span.category__arrow i {
  font-size: 30px;
  color: #ff6900;
  -webkit-transition: .5s;
  transition: .5s;
}
.menu .category-list {
  padding-bottom: 25px;
}
.menu .category-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #484848;
}
.menu .category-list__item a {
  display: block;
  font-size: 20px;
  color: #fff;
}
.menu .category-list__item:hover a {
  color: #ff6900;
}
.menu .category-list__item:hover i {
  color: #ff6900;
}
.content {
  max-width: 768px;
  margin: 0 auto;
  padding: 15px;
  position: relative;
  top: 50px;
  font-size: 16px;
}
.content h3 {
  font-size: 40px;
  margin-bottom: 25px;
}
.content h4 {
  font-size: 30px;
  margin-bottom: 25px;
}
.content span {
  display: block;
  margin-top: 15px;
}
.content ol {
  list-style: decimal;
  margin-left: 15px;
}
.content ol li {
  margin-bottom: 15px;
}
.content ol li ul {
  margin-top: 15px;
  list-style: disc;
  margin-left: 40px;
}
.content ul {
  margin-left: 40px;
  list-style: disc;
}
.content ul li {
  margin-bottom: 15px;
}
.content ul li ul {
  margin-bottom: 15px;
  margin-top: 15px;
  list-style: disc;
  margin-left: 40px;
}
.content p.check {
  font-size: 16px;
  margin-bottom: 15px;
}
.content table {
  border: 1px solid #484848;
  margin-top: 15px;
  width: 100%;
}
.content th {
  border: 1px solid #484848;
  padding: 10px 15px;
  max-width: 50%;
  font-weight: 700;
  text-align: left;
}
.content td {
  border: 1px solid #484848;
  padding: 10px 15px;
  max-width: 50%;
}
.content img.page_img {
  margin-top: 15px;
  max-width: 370px;
  max-height: 340px;
}
.content .drogge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}
.content .drogge__item {
  width: 48%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.content .drogge__item-header {
  padding: 15px;
}
.content .drogge__item .success {
  background: #d4edda;
  color: #155724;
  font-size: 20px;
}
.content .drogge__item .danger {
  background: #f8d7da;
  color: #721c24;
  font-size: 20px;
}
.content .drogge__item-images {
  padding: 15px;
}
.content .drogge__item-text {
  padding: 15px;
}
.content .drogge__item img {
  max-width: 100%;
  border-radius: 5px;
}
.content .err {
  border: 1px solid red;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
}
.content .succ {
  border: 1px solid green;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
}
.content .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content .items .item {
  max-width: 49%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 15px;
}
.content .items .item img {
  max-width: 100%;
}
.content .items .item-text {
  padding: 15px;
}
.content .just {
  margin-top: 15px;
}
.content .scheme {
  margin-top: 30px;
  margin-left: 15px;
}
.content .scheme h4 {
  font-size: 30px;
  font-weight: 600;
}
.content .scheme p {
  font-size: 20px;
  margin-top: 15px;
}
.content .scheme__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 15px;
}
.content .scheme-item {
  max-width: 48%;
  border: 1px solid #484848;
  padding: 15px;
}
.content .scheme-item img {
  max-width: 100%;
}
.content .scheme-item-text {
  margin-top: 15px;
}
.content .scheme-item-text h5 {
  font-size: 20px;
  font-weight: 600;
}
.content .scheme-item-text p {
  font-size: 16px;
  margin-top: 10px;
}
.content .sposob {
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #484848;
}
.content .sposob h5 {
  font-size: 20px;
  font-weight: 600;
}
.content .sposob__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 10px;
}
.content .sposob__content img {
  width: 212px;
  height: 212px;
}
.content .sposob__content div {
  margin-left: 20px;
}
.content .sposob__content div p {
  margin-bottom: 10px;
}
.content .photo {
  border: 1px solid #484848;
  max-width: 50%;
  margin-top: 15px;
}
.content .photo img {
  max-width: 100%;
}
.content .photo-text {
  padding: 10px 15px;
}
.menu-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.menu .changebg {
  background: #373535;
  -webkit-transition: background .5s;
  transition: background .5s;
}
.arrow-rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
#one {
  display: none;
}
.info {
  display: none;
}
