/* Clear default settings */
* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: sans-serif;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, a:hover, a:focus {
	text-decoration: none;
}

.header {
	background: #282828;
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 0px 10px #000;
	position: fixed;
	z-index: 2;
	&__burger {
		display: block;
		width: 50px;
		height: 50px;
		position: relative;
		&:hover {
			background: #373535;
			cursor: pointer;
		}
		span {
			display: block;
			width: 26px;
			height: 4px;
			background: #ff6900;
			position: absolute;
			top: 50%; margin-top: -2px;
			left: 50%; margin-left: -13px;
			&::before {
				content: '';
				display: block;
				transition: 0.2s;
				width: 26px;
				height: 4px;
				background: #ff6900;
				position: absolute;
				top: 50%; margin-top: -2px;
				left: 50%; margin-left: -13px;
				transform: translateY(-7px);
			}
			&::after {
				content: '';
				display: block;
				transition: 0.2s;
				width: 26px;
				height: 4px;
				background: #ff6900;
				position: absolute;
				top: 50%; margin-top: -2px;
				left: 50%; margin-left: -13px;
				transform: translateY(7px);
			}
		}
		&-active {
			span {
				&::before {
					transform: rotate(35deg);
					width: 13px;
					transform-origin: left bottom;
				}
				&::after {
					transform: rotate(-35deg);
					width: 13px;
					transform-origin: left top;
				}
			}
		}
	}
}

.menu {
	position: fixed;
	width: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	top: 50px;
	bottom: 0;
	left: 0;
	background-color: #282828;
	box-shadow: 0px 0px 10px #282828;
	color: #f0f0f0;
	z-index: 1;
	transform: translateX(-100%);
	transition: transform .5s;
	padding: 25px 0;

	&::-webkit-scrollbar-track {
		background-color: #373535;
	}

	&::-webkit-scrollbar-thumb {
		-webkit-border-radius: 0px;
		border-radius: 0px;
		background-color:#fff;
	}

	&::-webkit-scrollbar-thumb:hover{
		background-color:#fff;
	}

	&::-webkit-scrollbar{
		width: 4px;
	}
	
	.category {
		padding: 0 25px;
		background: transparent;
		transition: background .5s;
		&__title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;
			cursor: pointer;
			span {
				font-size: 30px;
				font-weight: 500;
			}
			span.category__arrow {
				transform: rotate(0deg);
				transition: transform .5s;
				i {
					font-size: 30px;
					color: #ff6900;
					transition: .5s;
				}
			}
		}
		&-list {
			padding-bottom: 25px;
			&__item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 10px 0;
				border-bottom: 1px solid #484848;
				a {
					display: block;
					font-size: 20px;
					color: #fff;
				}
				&:hover a {
					color: #ff6900;
				}
				&:hover i {
					color: #ff6900;
				}
			}
		}
	}
}

.content {
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	top: 50px;
	font-size: 16px;
	h3 {
		font-size: 40px;
		margin-bottom: 25px;
	}
	h4 {
		font-size: 30px;
		margin-bottom: 25px;
	}
	span {
		display: block;
		margin-top: 15px;
	}
	ol {
		list-style: decimal;
		margin-left: 15px;
		li {
			margin-bottom: 15px;
			ul {
				margin-top: 15px;
				list-style: disc;
				margin-left: 40px;
			}
		}
	}
	ul {
		margin-left: 40px;
		list-style: disc;
		li {
			margin-bottom: 15px;
			ul {
				margin-bottom: 15px;
				margin-top: 15px;
				list-style: disc;
				margin-left: 40px;
			}
		}
	}
	p.check {
		font-size: 16px;
		margin-bottom: 15px;
	}
	table {
		border: 1px solid #484848;
		margin-top: 15px;
		width: 100%;
	}
	th {
		border: 1px solid #484848;
		padding: 10px 15px;
		max-width: 50%;
		font-weight: 700;
		text-align: left;
	}
	td {
		border: 1px solid #484848;
		padding: 10px 15px;
		max-width: 50%;
	}
	img.page_img {
		margin-top: 15px;
		max-width: 370px;
		max-height: 340px;
	}

	.drogge {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin-top: 15px;
		&__item {
			width: 48%;
			border-radius: 5px;
			overflow: hidden;
			border: 1px solid rgba(0,0,0,.125);
			&-header {
				padding: 15px;
			}
			.success {
				background: #d4edda;
				color: #155724;
				font-size: 20px;
			}
			.danger {
				background: #f8d7da;
				color: #721c24;
				font-size: 20px;
			}
			&-images {
				padding: 15px;
			}
			&-text {
				padding: 15px;
			}
			img {
				max-width: 100%;
				border-radius: 5px;
			}
		}
	}
	.err {
		border: 1px solid red;
		padding: 10px 15px;
		margin-top: 15px;
		border-radius: 5px;
	}
	.succ {
		border: 1px solid green;
		padding: 10px 15px;
		margin-top: 15px;
		border-radius: 5px;
	}
	.items {
		display: flex;
		margin-left: 15px;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		.item {
			max-width: 49%;
			border: 1px solid rgba(0,0,0,.125);
			margin-top: 15px;
			img {
				max-width: 100%;
			}
			&-text {
				padding: 15px;
			}
		}
	}

	.just {
		margin-top: 15px;
	}

	.scheme {
		margin-top: 30px;
		margin-left: 15px;
		h4 {
			font-size: 30px;
			font-weight: 600;
		}
		p {
			font-size: 20px;
			margin-top: 15px;
		}
		&__content {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			margin-top: 15px;
		}
		&-item {
			max-width: 48%;
			border: 1px solid #484848;
			padding: 15px;
			img {
				max-width: 100%;
			}
			&-text {
				margin-top: 15px;	
				h5 {
					font-size: 20px;
					font-weight: 600;
				}
				p {
					font-size: 16px;
					margin-top: 10px;
				}
			}
		}
	}

	.sposob {
		padding: 10px 15px;
		margin-top: 15px;
		margin-bottom: 15px;
		border: 1px solid #484848;
		h5 {
			font-size: 20px;
			font-weight: 600;
		}
		&__content {
			display: flex;
			align-items: flex-start;
			margin-top: 10px;
			img {
				width: 212px;
				height: 212px;
			}
			div {
				margin-left: 20px;
				p {
					margin-bottom: 10px;
				}
			}
		}
	}

	.photo {
		border: 1px solid #484848;
		max-width: 50%;
		margin-top: 15px;
		img {
			max-width: 100%;
		}
		&-text {
			padding: 10px 15px;
		}
	}
}

.menu-active {
	transform: translateX(0);
	transition: transform .5s;
}
.menu .changebg {
	background: #373535;
	transition: background .5s;
}
.arrow-rotate {
	transform: rotate(180deg);
	transition: transform .5s;
}

#one {
	display: none;
}

.info {
	display: none;
}